include iotronic_lightningrod/proxies/configs/*
include iotronic_lightningrod/modules/web/static/css/*
include iotronic_lightningrod/modules/web/static/js/*
include iotronic_lightningrod/modules/web/templates/*

include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview

global-exclude *.pyc

